1) Создайте новый Jupyter Notebook для написания кода
2) Для работы понадобятся библиотеки pandas, requests, json, sqlite3

In [178]:
import pandas as pd
import requests
import json
import sqlite3

3) На сайте https://open-meteo.com/en/docs сформируйте с помощью
настроек сайта запрос API со следующими параметрами:
В разделе API Response скопировать получившийся API URL,
либо перейти на вкладку Python и скопировать часть кода с url и
params

In [179]:
# задаем переменные url и params в соответствии с заданными параметрами
url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": 55.7522,
	"longitude": 37.6156,
	"daily": ["temperature_2m_max", "temperature_2m_min", "sunrise", "sunset", "rain_sum", "snowfall_sum"],
	"timezone": "Europe/Moscow",
	"start_date": "2023-11-01",
	"end_date": "2023-11-07"
}

4) Напишите с помощью библиотеки requests запрос на получение данных
с полученными url и params

In [180]:
response = requests.get(url, params=params)

In [181]:
response

In [182]:
response.text

'{"latitude":55.75,"longitude":37.625,"generationtime_ms":14.485001564025879,"utc_offset_seconds":10800,"timezone":"Europe/Moscow","timezone_abbreviation":"MSK","elevation":141.0,"daily_units":{"time":"iso8601","temperature_2m_max":"°C","temperature_2m_min":"°C","sunrise":"iso8601","sunset":"iso8601","rain_sum":"mm","snowfall_sum":"cm"},"daily":{"time":["2023-11-01","2023-11-02","2023-11-03","2023-11-04","2023-11-05","2023-11-06","2023-11-07"],"temperature_2m_max":[15.2,12.2,4.8,5.4,11.9,10.7,9.8],"temperature_2m_min":[8.5,2.9,0.8,0.4,6.1,8.9,8.0],"sunrise":["2023-11-01T07:35","2023-11-02T07:37","2023-11-03T07:39","2023-11-04T07:41","2023-11-05T07:43","2023-11-06T07:45","2023-11-07T07:47"],"sunset":["2023-11-01T16:51","2023-11-02T16:49","2023-11-03T16:46","2023-11-04T16:44","2023-11-05T16:42","2023-11-06T16:40","2023-11-07T16:38"],"rain_sum":[0.00,5.00,0.00,0.80,3.90,11.00,1.00],"snowfall_sum":[0.00,0.00,0.00,0.00,0.00,0.00,0.00]}}'

5) Преобразуйте ответ запроса (response) в формат датафрейма

In [184]:
data = json.loads(response.text)

In [185]:
data

{'latitude': 55.75,
 'longitude': 37.625,
 'generationtime_ms': 14.485001564025879,
 'utc_offset_seconds': 10800,
 'timezone': 'Europe/Moscow',
 'timezone_abbreviation': 'MSK',
 'elevation': 141.0,
 'daily_units': {'time': 'iso8601',
  'temperature_2m_max': '°C',
  'temperature_2m_min': '°C',
  'sunrise': 'iso8601',
  'sunset': 'iso8601',
  'rain_sum': 'mm',
  'snowfall_sum': 'cm'},
 'daily': {'time': ['2023-11-01',
   '2023-11-02',
   '2023-11-03',
   '2023-11-04',
   '2023-11-05',
   '2023-11-06',
   '2023-11-07'],
  'temperature_2m_max': [15.2, 12.2, 4.8, 5.4, 11.9, 10.7, 9.8],
  'temperature_2m_min': [8.5, 2.9, 0.8, 0.4, 6.1, 8.9, 8.0],
  'sunrise': ['2023-11-01T07:35',
   '2023-11-02T07:37',
   '2023-11-03T07:39',
   '2023-11-04T07:41',
   '2023-11-05T07:43',
   '2023-11-06T07:45',
   '2023-11-07T07:47'],
  'sunset': ['2023-11-01T16:51',
   '2023-11-02T16:49',
   '2023-11-03T16:46',
   '2023-11-04T16:44',
   '2023-11-05T16:42',
   '2023-11-06T16:40',
   '2023-11-07T16:38'],
  'rain_sum': [0.0, 5.0, 0.0, 0.8, 3.9, 11.0, 1.0],
  'snowfall_sum': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}}

In [186]:
data['daily']

{'time': ['2023-11-01',
  '2023-11-02',
  '2023-11-03',
  '2023-11-04',
  '2023-11-05',
  '2023-11-06',
  '2023-11-07'],
 'temperature_2m_max': [15.2, 12.2, 4.8, 5.4, 11.9, 10.7, 9.8],
 'temperature_2m_min': [8.5, 2.9, 0.8, 0.4, 6.1, 8.9, 8.0],
 'sunrise': ['2023-11-01T07:35',
  '2023-11-02T07:37',
  '2023-11-03T07:39',
  '2023-11-04T07:41',
  '2023-11-05T07:43',
  '2023-11-06T07:45',
  '2023-11-07T07:47'],
 'sunset': ['2023-11-01T16:51',
  '2023-11-02T16:49',
  '2023-11-03T16:46',
  '2023-11-04T16:44',
  '2023-11-05T16:42',
  '2023-11-06T16:40',
  '2023-11-07T16:38'],
 'rain_sum': [0.0, 5.0, 0.0, 0.8, 3.9, 11.0, 1.0],
 'snowfall_sum': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}

In [202]:
column_name = list(data['daily'].keys())

In [203]:
column_name

['time',
 'temperature_2m_max',
 'temperature_2m_min',
 'sunrise',
 'sunset',
 'rain_sum',
 'snowfall_sum']

In [204]:
df = pd.json_normalize(data['daily'])

In [205]:
df.head()

,time,temperature_2m_max,temperature_2m_min,sunrise,sunset,rain_sum,snowfall_sum
0,"[2023-11-01, 2023-11-02, 2023-11-03, 2023-11-0...","[15.2, 12.2, 4.8, 5.4, 11.9, 10.7, 9.8]","[8.5, 2.9, 0.8, 0.4, 6.1, 8.9, 8.0]","[2023-11-01T07:35, 2023-11-02T07:37, 2023-11-0...","[2023-11-01T16:51, 2023-11-02T16:49, 2023-11-0...","[0.0, 5.0, 0.0, 0.8, 3.9, 11.0, 1.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"

In [191]:
# необходимо преобразовать столбцы с вложенными списками в строки
exploded_df = df.explode(['time',
 'temperature_2m_max',
 'temperature_2m_min',
 'sunrise',
 'sunset',
 'rain_sum',
 'snowfall_sum'], ignore_index = True)

In [192]:
exploded_df

,time,temperature_2m_max,temperature_2m_min,sunrise,sunset,rain_sum,snowfall_sum
0,2023-11-01,15.2,8.5,2023-11-01T07:35,2023-11-01T16:51,0.0,0.0
1,2023-11-02,12.2,2.9,2023-11-02T07:37,2023-11-02T16:49,5.0,0.0
2,2023-11-03,4.8,0.8,2023-11-03T07:39,2023-11-03T16:46,0.0,0.0
3,2023-11-04,5.4,0.4,2023-11-04T07:41,2023-11-04T16:44,0.8,0.0
4,2023-11-05,11.9,6.1,2023-11-05T07:43,2023-11-05T16:42,3.9,0.0
5,2023-11-06,10.7,8.9,2023-11-06T07:45,2023-11-06T16:40,11.0,0.0
6,2023-11-07,9.8,8.0,2023-11-07T07:47,2023-11-07T16:38,1.0,0.0

In [193]:
#переименуем столбцы
exploded_df.rename(columns=
{
          'time' : 'date',
          'temperature_2m_max' : 'temperature_max',
          'temperature_2m_min' : 'temperature_min',
          'rain_sum' : 'rain',
          'snowfall_sum' : 'snowfall'
},
inplace=True)

In [194]:
exploded_df

,date,temperature_max,temperature_min,sunrise,sunset,rain,snowfall
0,2023-11-01,15.2,8.5,2023-11-01T07:35,2023-11-01T16:51,0.0,0.0
1,2023-11-02,12.2,2.9,2023-11-02T07:37,2023-11-02T16:49,5.0,0.0
2,2023-11-03,4.8,0.8,2023-11-03T07:39,2023-11-03T16:46,0.0,0.0
3,2023-11-04,5.4,0.4,2023-11-04T07:41,2023-11-04T16:44,0.8,0.0
4,2023-11-05,11.9,6.1,2023-11-05T07:43,2023-11-05T16:42,3.9,0.0
5,2023-11-06,10.7,8.9,2023-11-06T07:45,2023-11-06T16:40,11.0,0.0
6,2023-11-07,9.8,8.0,2023-11-07T07:47,2023-11-07T16:38,1.0,0.0

6) Добавьте поле location со значением «Moscow»

In [195]:
exploded_df.insert (loc= 1 , column='location', value='Moscow')

In [196]:
exploded_df

,date,location,temperature_max,temperature_min,sunrise,sunset,rain,snowfall
0,2023-11-01,Moscow,15.2,8.5,2023-11-01T07:35,2023-11-01T16:51,0.0,0.0
1,2023-11-02,Moscow,12.2,2.9,2023-11-02T07:37,2023-11-02T16:49,5.0,0.0
2,2023-11-03,Moscow,4.8,0.8,2023-11-03T07:39,2023-11-03T16:46,0.0,0.0
3,2023-11-04,Moscow,5.4,0.4,2023-11-04T07:41,2023-11-04T16:44,0.8,0.0
4,2023-11-05,Moscow,11.9,6.1,2023-11-05T07:43,2023-11-05T16:42,3.9,0.0
5,2023-11-06,Moscow,10.7,8.9,2023-11-06T07:45,2023-11-06T16:40,11.0,0.0
6,2023-11-07,Moscow,9.8,8.0,2023-11-07T07:47,2023-11-07T16:38,1.0,0.0

7) Подключитесь к существующей базе данных sqlite или создайте новую.
Загрузите полученный датафрейм в таблицу с названием weather

In [197]:
#создаем новую базу данных sqlite 
con_sqlite = sqlite3.connect('new_db_weather')

In [201]:
#загружаем датафрейм в таблицу weather
exploded_df.to_sql(con=con_sqlite, name = 'weather', index=False, if_exists='replace')

7

8) * Подумайте, как можно автоматизировать выполнение написанного кода
и изменить его таким образом, чтобы каждый день получать прогноз
погоды на текущий день.

In [206]:
# это все, что я смогла придумать))
import pandas as pd
import requests
import json
import sqlite3

In [207]:
url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": 55.7522,
	"longitude": 37.6156,
	"daily": ["temperature_2m_max", "temperature_2m_min", "sunrise", "sunset", "rain_sum", "snowfall_sum"],
	"timezone": "Europe/Moscow",
	"forecast_days": 1
}

In [208]:
response = requests.get(url, params=params)

In [209]:
data = json.loads(response.text)

In [210]:
column_name = list(data['daily'].keys())

In [211]:
df = pd.json_normalize(data['daily'])

In [212]:
exploded_df = df.explode(['time',
 'temperature_2m_max',
 'temperature_2m_min',
 'sunrise',
 'sunset',
 'rain_sum',
 'snowfall_sum'], ignore_index = True)

In [213]:
exploded_df.rename(columns=
{
          'time' : 'date',
          'temperature_2m_max' : 'temperature_max',
          'temperature_2m_min' : 'temperature_min',
          'rain_sum' : 'rain',
          'snowfall_sum' : 'snowfall'
},
inplace=True)

In [214]:
exploded_df.insert(loc= 1 , column='location', value='Moscow')

In [215]:
con_sqlite = sqlite3.connect('new_db_weather')

In [216]:
# но запускать эту цепочку строго 1 раз в день, иначе одни и те же данные будут записываться в таблицу weather в базе данных new_db_weather каждый раз при выполнении кода. Как это решить я не придумала.
exploded_df.to_sql(con=con_sqlite, name = 'weather', index=False, if_exists='append')

1